<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wupai.taiji.model.mapper.FyHousingMapper">
  
    <resultMap id="Housing" type="com.wupai.taiji.model.entity.FyHousing">
        <id column="house_id" property="houseId"></id>
        <result column="city" property="city"></result>
        <result column="room_num" property="roomNum"></result>
        <result column="hall" property="hall"></result>
        <result column="defend" property="defend"></result>
        <result column="kitchen" property="kitchen"></result>
        <result column="In_layers" property="inLayers"></result>
        <result column="total_ceng" property="totalCeng"></result>
        <result column="house_meters" property="houseMeters"></result>
        <result column="houser_rent_date" property="houserRentDate"></result>
        <result column="rental_prices" property="rentalPrices"></result>
        <result column="house_floor_price" property="houseFloorPrice"></result>
        <result column="house_payment_method" property="housePaymentMethod"></result>
        <result column="house_property" property="houseProperty"></result>
        <result column="home_state" property="homeState"></result>
        <result column="joint_rent" property="jointRent"></result>

<!--        <association property="fgFeature" javaType="com.itmk.web.estate.entity.FgFeature">-->
<!--            <id column="feature_id" property="featureId"></id>-->
<!--            <result column="feature_name" property="featureName"></result>-->
<!--        </association>-->

<!--        <association property="fgFitment" javaType="com.itmk.web.estate.entity.FgFitment">-->
<!--            <id column="fitment_id" property="fitmentId"></id>-->
<!--            <result column="fitment_name" property="fitmentName"></result>-->
<!--        </association>-->

<!--        <association property="fgNature" javaType="com.itmk.web.estate.entity.FgNature">-->
<!--            <id column="nature_id" property="natureId"></id>-->
<!--            <result column="nature_name" property="natureName"></result>-->
<!--        </association>-->

<!--        <association property="fgOrientation" javaType="com.itmk.web.estate.entity.FgOrientation">-->
<!--            <id column="orientation_id" property="orientationId"></id>-->
<!--            <result column="orientation_name" property="orientationName"></result>-->
<!--        </association>-->

        <collection property="fyRooms" ofType="com.wupai.taiji.model.entity.FyRoom">
            <id column="room_id" property="roomId"></id>
            <result column="room_name" property="roomName"></result>
            <result column="room_square_meters" property="roomSquareMeters"></result>
            <result column="room_prices" property="roomPrices"></result>
            <result column="room_floor_price" property="roomFloorPrice"></result>
            <result column="room_payment_method" property="roomPaymentMethod"></result>
            <result column="rent_time" property="rentTime"></result>
            <result column="contract_time" property="contractTime"></result>
        </collection>

    </resultMap>

    <select id="selectHousingList" resultMap="Housing">
        select * from fy_housing fh left join fy_room fr on fh.house_id = fr.house_id where fh.joint_rent = 0
    </select>


</mapper>