<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupai.taiji.model.mapper.HtHeTongMapper">

    <resultMap id="BaseResultMap" type="com.wupai.taiji.model.entity.HtHeTong">
            <id property="zjId" column="zj_id" jdbcType="INTEGER"/>
            <result property="htId" column="ht_id" jdbcType="VARCHAR"/>
            <result property="fwId" column="fw_id" jdbcType="VARCHAR"/>
            <result property="czr" column="czr" jdbcType="VARCHAR"/>
            <result property="htksSj" column="htks_sj" jdbcType="TIMESTAMP"/>
            <result property="htdqSj" column="htdq_sj" jdbcType="TIMESTAMP"/>
            <result property="zhuJing" column="zhu_jing" jdbcType="DECIMAL"/>
            <result property="yaJing" column="ya_jing" jdbcType="DECIMAL"/>
            <result property="tqfk" column="tqfk" jdbcType="INTEGER"/>
            <result property="zhuangTai" column="zhuang_tai" jdbcType="VARCHAR"/>
            <result property="cjr" column="cjr" jdbcType="VARCHAR"/>
            <result property="untitled" column="untitled" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
       zj_id,ht_id,fw_id,
        czr,htks_sj,htdq_sj,
        zhu_jing,ya_jing,tqfk,
        zhuang_tai,cjr,untitled,
		city,house_payment_method,
		name,phone,sfz
    </sql>

<!--    查询合同和房屋信息   -->
    <select id="allHeTong" resultType="java.util.Map">
        select <include refid="Base_Column_List"/> from
                ht_he_tong ht left join fy_housing fy on ht.fw_id = fy.house_id
                left join ht_ru_zhur rz on ht.czr = rz.rz_id
    </select>
</mapper>
