<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupai.taiji.model.mapper.KyCustominfoMapper">

    <resultMap id="BaseResultMap" type="com.wupai.taiji.model.entity.KyCustominfo">
            <id property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="cname" column="cname" jdbcType="VARCHAR"/>
            <result property="ctel" column="ctel" jdbcType="VARCHAR"/>
            <result property="cardnum" column="cardnum" jdbcType="VARCHAR"/>
            <result property="csex" column="csex" jdbcType="BOOLEAN"/>
     </resultMap>

    <sql id="Base_Column_List">
        cid,cname,ctel,
        cardnum,csex,c_typeid
    </sql>

    <!--新增客户信息-->
    <insert id="addCustomInfo">
        insert into ky_custominfo ()
    </insert>
</mapper>
