<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupai.taiji.model.mapper.WljGongrenMapper">

    <resultMap id="BaseResultMap" type="com.wupai.taiji.model.entity.WljGongren">
            <id property="grId" column="gr_id" jdbcType="INTEGER"/>
            <result property="grName" column="gr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        gr_id,gr_name
    </sql>
</mapper>
