<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupai.taiji.model.mapper.WljWeixiuMapper">

    <resultMap id="BaseResultMap" type="com.wupai.taiji.model.entity.WljWeixiu">
            <id property="wxId" column="wx_id" jdbcType="INTEGER"/>
            <result property="wxTime" column="wx_time" jdbcType="TIMESTAMP"/>
            <result property="wxPhone" column="wx_phone" jdbcType="VARCHAR"/>
            <result property="wxReason" column="wx_reason" jdbcType="VARCHAR"/>
            <result property="fwId" column="fw_id" jdbcType="VARCHAR"/>
            <result property="ztId" column="zt_id" jdbcType="VARCHAR"/>
            <result property="jjId" column="jj_id" jdbcType="VARCHAR"/>
            <result property="lxId" column="lx_id" jdbcType="VARCHAR"/>
            <result property="pxLx" column="px_lx" jdbcType="VARCHAR"/>
            <result property="wxName" column="wx_name" jdbcType="VARCHAR"/>
            <result property="wxLaiyuan" column="wx_laiyuan" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        wx_id,wx_time,wx_phone,
        wx_reason,fw_id,zt_id,
        jj_id,lx_id,px_lx,
        wx_name,wx_laiyuan
    </sql>
</mapper>
