<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupai.taiji.model.mapper.ZhJjMapper">

    <resultMap id="BaseResultMap" type="com.wupai.taiji.model.entity.ZhJj">
            <id property="wxjjid" column="wxjjid" jdbcType="INTEGER"/>
            <result property="wxjjname" column="wxjjname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        wxjjid,wxjjname
    </sql>
</mapper>
